*{
    box-sizing: border-box;
}
html, body{
    height:100%;
}
body{
    margin:0;
     background:#29cdff; 
  
    text-align: center;
    font-family:fantasy;
    padding:0 30px
}
img {
    padding-top: 100px;
    width: 900px;
}
h1{
    margin-top:100px;
    margin-bottom:25px;
    font-size:100px;
    font-family: 'Copperplate', fantasy;

}
a{
    text-decoration: none;
}
#clock {
    color:#000;
    position:absolute;
    font-size:100px;
    bottom:50px;
    text-align:center;
    font-family: 'Courier New', monospace;
}
/*
=================================================
SEARCH
=================================================
*/
form{
    width:100%;
    max-width:600px;
    margin:0 auto;
}
input{
    width:100%;
    font-size:32px;
    margin:5px 0;
    float:left;
    border:none;
    padding:10px;
    outline:none;
}
.search-bar{
    width:85%;
}
.submit-button{
    width:15%;
    background:#f386ff;
    color:#fed8fb;
}
/*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks{
    padding:30px;
    clear:both;
}
.bookmarks i{
    font-size:24px;
    margin:0 30px;
    color:#e85af7;
    line-height:32px;
    transition:.2s;
    text-decoration:none;
    cursor: pointer;
}
.bookmarks i:hover{
    color:#fed8fb;
    font-size:28px;
    line-height:26px;

}



@media only screen and (max-width: 900px) {
    h1{
        margin-top:50px;
        font-size:100px;
    }
 }
 
 
 @media only screen and (max-width: 600px) {
    h1{
        margin-top:50px;
        font-size:75px;
    }
    .bookmarks i{
    margin:0 15px;
    }
 }
 

